/*
    Autor: Hesham Shawky.com;
    Email: me@heshamshawky.com
*/
/*------------------------------------------------------------------------------
    Genral Elements
------------------------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

p {
    line-height: 25px;
}

/*------------------------------------------------------------------------------
    header section
------------------------------------------------------------------------------*/

.header {
    position: absolute;
    left: 0;
    right: 0;
}

.header .topnav {
    background: url('../images/top-nav.jpg');
    height: 100px;
    padding: 18px 0;
}

.header .navbar-default {
    border: 0;
    border-radius: 0;
    opacity: 0.75;
}

.header .navbar-default .navbar-nav>li>a {
    color: #4a4d4f;
    margin: 0 20px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0f9de0;
    background-color: transparent;
}

.header .navbar-nav>.active:after {
    content: "";
    display: block;
    height: 2px;
    background: #0f9de0;
    position: absolute;
    bottom: -2px;
    right: 0;
    left: 0;
    margin: auto;
    width: 65%;
}

.hero {
    height: 100vh;
    background: url('../images/bg.jpg');
    background-size: cover;
    padding-top: 170px;
}

.hero .carousel {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.hero .carousel-caption {
    position: static;
    margin: 90px 0;
    opacity: 1;
}

.hero .carousel-caption {
    padding: 0 30px;
}


.hero .carousel-caption h1 {
    font-size: 80px;
    opacity: 0.8;
    font-weight: 300;
}

.hero .carousel-caption p {
    padding: 10px 40px;
    line-height: 25px;
    /*border-bottom: 2px solid rgba(255, 255, 255, 0.4);*/
}

.hero .carousel-control {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.carousel-control.right {
    left: 5%;
}

.carousel-control.left {
    right: 5%;
}

.carousel-control.right,
.carousel-control.left {
    background: transparent;
}

.blue {
    padding: 20px 0;
    background: #1e5799;
    background: -moz-linear-gradient(left,  #1e5799 0%, #5fb9f4 60%, #2989d8 100%);
    background: -webkit-linear-gradient(left,  #1e5799 0%,#5fb9f4 60%,#2989d8 100%);
    background: linear-gradient(to right,  #1e5799 0%,#5fb9f4 60%,#2989d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=1 );

}

.blue h2,
.blue h4 {
    color: #fff;
    font-weight: 300;
}

.features {
    background: url('../images/features-bg.jpg');

}

.fea-box {
    color: #53575b;
    position: relative;
    padding: 20px 0;
}

.fea-box h3, .fea-box h4 {
    font-weight: 300;
}

.recent {
    background-color: #f3f3f3;
    padding: 30px 0;
    overflow: hidden;
}

.recent h3 {
    font-weight: bold;
    text-transform: uppercase;
}

.arrows span {
    cursor: pointer;
}

#owl-demo .item {
    position: relative;
    margin: 10px;
    box-shadow: 0 0 1px #222;
    border: 4px solid #fff;
}

.item-links {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.5s;
}

.item-links li a {
    color: #999;
    font-size: 19px;
    background: rgb(255, 255, 255);
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 47px;
    border: 3px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px #111;
}

.item:hover .item-links {
    opacity: 1;
}

.item-links ul {
    margin: 10% 0;
}

.item-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fbfbfb;
}

.item-info h3 {
    font-weight: 300;
}

.links {
    background: url('../images/links-bg.png');
    padding: 40px 0;
}

.links ul li {
    line-height: 30px;
}

.links a {
    text-decoration: none;
    color: #888;
}

.recent-posts {
    padding: 40px 0;
}

.why-choose-us h2,
.recent-posts h2 {
    text-transform: uppercase;
    color: #777;
    padding: 20px 0;
    border-bottom: 3px solid #eee;
    position: relative;
    text-align: center;
    font-weight: 300;
    margin: 20px auto;
}


.recent-posts h2:after {
    content: "";
    display: block;
    border-width: 10px 10px 10px 10px;
    border-color: #eeeeee transparent transparent;
    border-style: solid;
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    width: 10px;
}

.arrows-posts {
    position: absolute;
    top: 48%;
    right: 5%;
}

.arrows-posts span {
    font-size: 15px;
    font-weight: 300;
    color: #999;
    cursor: pointer;
}
#re-posts-cars {
    overflow: hidden;
}
div#re-posts-cars img {
    margin: auto;
    display: block;
    max-width: 100%;
    margin: 35px auto 0;
    border: 5px solid #fff;
    box-shadow: 0 0 1px #999;
}


div#re-posts-cars .item {
    margin: 5px auto;
}

div#re-posts-cars .user {
    margin: 0 auto;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #ddd;

}

.post-info {
    margin: 5px auto;
    padding: 0 20px;
}

.why-choose-us {
    padding: 40px 0;
    background: url('../images/why-bg.png');
}

.why-choose-us h4 {
    color: #474a4c;
    font-weight:bold;
    font-size: 16px;
    text-transform:uppercase;
    margin:10px auto;
}

.why-choose-us h2 {
    border-bottom: 3px solid #e0e0e0;
    margin: 0 auto 60px;
}

.why-choose-us h2:after {
    content: "";
    display: block;
    border-width: 10px 10px 10px 10px;
    border-color: #e0e0e0 #e8e8e8 #e7e7e7 #eaeaea;
    border-style: solid;
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    width: 10px;
}

.why-box {
    margin: 15px auto;
}


.testimonials {
    overflow: hidden;
    background: #b3b7bb;
    padding: 40px 0;
}

.testimonials h2 {
    font-weight: 300;
    text-transform: uppercase;
}

.testimonials .carousel-indicators {
    position: relative;
    top: 10px
}

.testimonials .carousel-indicators .active {
    background-color: white;
}

.testimonials h2.title .fa {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.testimonials .test-box {
    overflow: hidden;
    color: #222;
    margin: 10px auto 0;
    max-width: 600px;
}

.testimonials .testi-img img {
    position: relative;
    padding: 5px;
    background: #eee;
}

.testimonials .test-box h5 {
    color: #555;
}

.testimonials .test-box p {
    font-weight: 300;
}

.test-box h3 {
    font-family: 'Dancing script', sans-serif;
}

.testimonials .quata {
    position: absolute;
    bottom: -35px;
    width: 70px;
    height: 70px;
    text-align: center;
    background: #333;
    line-height: 70px;
    color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s
}

.testimonials .test-box:hover .quata {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}



.footer {
    padding: 40px 0;
    background: #46494b;
}

.footer h4 {
    color: #b1b6b9;
    text-transform: uppercase;
}

.footer ul li {
    color: #b1b6b9;
}


.footer .recent-post-box .date {
    color: #909397;
    text-transform: uppercase;
}
.footer .recent-post-box h5 {
    color: #bbdbef;
}

.footer .short-desc {
    color: #b1b6b9;
}

.footer .contact li {
    line-height: 30px;
    list-style: none;
}

.footer .news-letter p {
    color: #b1b6b9;
}

.footer .social li a {
    font-size: 20px;
    padding: 5px;
    color: #777;
}

.copy-right {
    background: #3d3f40;
    color: #b1b6b9;
    padding: 15px 0 5px;
}

.main-wrapper {
    margin: 20px auto;
}

.post {
    margin: 20px auto;
}

.post-head {
    margin: 10px 0;
}

.post-head .user-image img {
    padding: 5px;
    border: 1px solid #ddd;
}
.post-body {
    padding: 0 15px;
}

.post-body img {
    padding: 5px;
    border: 1px solid #ddd;
    margin: 0 0 10px;
}

.user-image {
    position: relative;
}

span.comments-count {
    display: inline-block;
    position: absolute;
    height: 35px;
    width: 35px;
    background: #ddd;
    /* left: 0; */
    right: 0;
    /* margin: auto; */
    top: 50%;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #1e93f7;
}


.sidebar .stylish-input-group .input-group-addon{
    background: white !important;
}
.sidebar .stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.sidebar .stylish-input-group button{
    border:0;
    background:transparent;
}

.widget {
    margin: 40px auto;
}

.cat li {
    line-height: 30px;
}
.cat hr {
    margin: 5px auto;
}
.cat .fa {
    font-size: 10px;
    color: #ddd;
    margin: 0 5px;
}

.taps .panel-heading {
    padding: 0;
    background: transparent;
    border: 0;
}

.panel-default {
    border: 0;
}

.recent-posts-side {
    background: #eee;
    padding: 10px;
}

.recent-posts-side hr {
    border-color: #ddd;
    margin: 5px auto;
}

.recent-posts-side p:first-of-type {
    font-size: 11px;
    color: #999;
}

#comments img {
    padding: 5px;
    border: 1px solid #ddd;
}

#comments .comment-replay  {
    background: #eee;
    padding: 10px 0 0 30px;
    list-style: none;
}

#comments .comment-body {
    padding: 10px 0;
}

#comments .comment {
    margin: 20px auto;
}

#leave-comment small {
    color: #999;
}

#Container .mix{
	display: none;
}

header.filter-gallery {
    background: #ddd;
}

header.filter-gallery ul {
    margin: 0;
}

header.filter-gallery ul li {
    padding: 10px 25px;
    cursor: pointer;
}

main.gallery {
    margin: 40px auto;
}

main.gallery .row {
    margin: 30px auto;
}

.contact-detial {
    padding: 40px 0;
}


/*
    Responsive Queries
*/
@media all and (min-width: 768px) {

    .fea-box {
        border-right: 1px solid #7f8285;
    }
    .fea-box:after {
        content: "";
        position: absolute;
        top: 45%;
        right: -10px;
        border-width: 8px 0 8px 10px !important;
        border-style: solid;
        border-color: transparent #00f transparent #7f8285 !important;
    }
}
